BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: 'true'
ColumnLimit: '100'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
IndentWidth: '4'
PenaltyBreakBeforeFirstCallParameter: '10000000'
PenaltyBreakString: '10'
PenaltyReturnTypeOnItsOwnLine: '10000000'
PointerAlignment: Right
SpaceBeforeParens: Always
TabWidth: '4'
UseTab: Never
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
ContinuationIndentWidth: '4' 
IncludeBlocks: 'Preserve'
SortIncludes: 'CaseSensitive'
InsertNewlineAtEOF: 'true'